@model ProjAula6.curso

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Curso</h2>

<h3>Deseja realmente excluir o registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carga_horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carga_horaria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
