@model ProjAula6.curso

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carga_horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carga_horaria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
