@model IEnumerable<ProjAula6.curso>

@{
    ViewBag.Title = "Index";
}

<h2>Curso</h2>

<p>
    @Html.ActionLink("Inserir Curso", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Carga Horaria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carga_horaria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
