@model ProjAula6.curso_disciplina

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Curso / Disciplina</h2>

<h3>Deseja realmente excluir o registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.curso.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disciplina.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disciplina.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
