@model ProjAula6.disciplina

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Disciplina</h2>

<h3>Deseja realmente deletar o registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_sala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_fim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
