@model ProjAula6.disciplina

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_sala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_fim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
